<div class="panel panel-default">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Actions:</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <!-- ko with: toDoList -->
                <button class="btn btn-default navbar-btn" data-bind="click: clickDelete">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            
                <button class="btn btn-default navbar-btn" data-bind="click: clickMarkAsDone">
                    <span class="glyphicon glyphicon-ok"></span> Mark as done
                </button>
                <!-- /ko -->

                <!-- ko with: toDoCreate -->
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="New task" data-bind="value: name">
                    </div>

                    <button class="btn btn-default" data-bind="click: clickCreate">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </form>
                <!-- /ko -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Table -->
    <!-- ko with: toDoList -->
    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th>Title</th>
                <th>Priority</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><input type="checkbox"/></td>
                <td data-bind="text: title"></td>
                <td data-bind="text: priority"></td>
                <td data-bind="text: createdOn"></td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
</div>